<div class="container">
  <div style="background-color: white; padding: 20px; margin-top: 20px;">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs personal-profile">
      <p>
      <%= f.input :first_name, required: true, label: false, input_html: { value: current_user.first_name.capitalize } %>
      <%= f.input :last_name, required: true, label: false, input_html: { value: current_user.last_name.capitalize } %>
      <%= f.input :email, required: true, label: false, autofocus: true %>
      </p>


      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <h3>Change Password</h3>
      <%= f.input :password, autocomplete: "off", placeholder: "leave it blank if you don't want to change it", required: false, label: false  %>
      <%= f.input :password_confirmation, placeholder: "Password confirmation", label: false, required: false %>
      <%= f.input :current_password, placeholder: "Current password", label: false, required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update" %>
    </div>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy?</p>
  <p><%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Back", :back %>
  </div>
</div>
