<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 form-login">
      <h1>Sign up</h1>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs menu-signin">
          <%= f.input :email, required: true, label: false, autofocus: true, placeholder: 'Email', input_html: { id: 'email-signup' }  %>
          <%= f.input :password, required: true, label: false, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), placeholder: 'Password', input_html: { id: 'password-signup' }  %>
          <%= f.input :password_confirmation, required: true, label: false, placeholder: 'Confirm password' %>
            <div class="form-actions">
              <%= f.button :submit, "Sign up", class: "btn btn-signin" %>
            </div>
            <div class="signin-links">
              <%= render "devise/shared/links" %>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>
