<div class="navbar-wagon">
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <% if user_signed_in? %>
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to edit_user_registration_path do %>
              <i class="fa fa-user"></i> <%= t(".personal_information", default: "Personal Information") %>
              <% end %>
            </li>
            <li>
              <%= link_to "preferences_path" do %>
              <i class="fa fa-cog"></i>  <%= t(".preferences", default: "Preferences") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <div class="dropdown">
        <%= image_tag 'bars.svg', class: 'menuburger', data: { toggle: 'dropdown' }, height: '25', width: '25' %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li> <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
        </ul>
      </div>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <%= image_tag 'bars.svg', class: 'menuburger', data: { toggle: 'dropdown' }, height: '25', width: '25' %>
      <!--  <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i> -->
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
  <div class="right">
    <!-- Right Navigation -->
      <%= link_to root_path, class: "navbar-wagon-brand" do %>
        <p> Agape </p>
      <% end %>
  </div>
  <% if action_name == 'index' && controller_name == 'charities' %>
    <div class="navbar-form">
      <%= render 'shared/search_form'  %>
    </div>
  <% end %>
</div>




