<%= form_tag search_path, remote: :true, method: :get, id: "the-basics", class: "search" do |f| %>
<div id="charity-names" data-names="<%= @charities.pluck(:name).flatten.uniq.to_json %>"></div>
<div id="cities-names" data-names="<%= @charities.pluck(:city).flatten.uniq.to_json %>"></div>
<div id="provinces-names" data-names="<%= @charities.pluck(:province).flatten.uniq.to_json %>"></div>
<div id="categories-names" data-names="<%= @charities.map(&:categories).flatten.map(&:name).uniq.to_json%>"></div>

<div class="form-inline search_wrapper">
  <div class="form-group">
    <%= text_field_tag :query,
    params[:query],
    class: "form-control typeahead search_field ",
      placeholder: "Search"
      %>
    </div>

  <!--   <div class="form-group filter">
      <div class="dropdown">
        <button class="search-icon dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <%=  image_submit_tag("filter.svg", height: 20) %>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <% Category.all.each do |category| %>
          <% if category.name != "public-benefit" && category.name != "religion" %>
          <li>
            <input type="checkbox" name="categories[<%= category.id %>]" id="charity_category_names_<%= category.name %>">
            <label for="charity_category_names_<%= category.name %>">
              <%= category.name %>
            </li>
            <% end %>
            <% end %>
          </ul>
        </div>
      </div>
 -->
      <div class="form-group">
        <%=  image_submit_tag("search_icon.svg", height: 20, class: 'search_button search__icon', alt: 'Find') %>
      </div>

    </div>
    <% end %>

