
<%= form_tag search_path, remote: :true, method: :get do |f| %>
<div class="form-inline">
  <div class="form-group">
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
      placeholder: "Search"
      %>
    </div>

    <div class="form-group">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <i class="fas fa-filter"></i>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <% Category.all.each do |category| %>
            <% if category.name != "public-benefit" && category.name != "religion" %>
              <li>
                <input type="checkbox" value="true" name="<%= category.name %>" id="charity_category_names_<%= category.name %>">
                <label for="charity_category_names_<%= category.name %>"><%= category.name %></label>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="form-group">
      <%=  image_submit_tag("search_icon.svg", height: 20, class: 'search_button', alt: 'Find') %>
    </div>

  </div>
  <% end %>
