<div class="modal fade bd-example-modal-lg text-center" id="charity-modal-<%= charity.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-content">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 form-login">
      <div class="menu-signin">
        <div class="card-photo">
          <%= image_tag "#{charity.logo}" %>
        </div>
        <h2><%= charity.name %></h2>
        <h4>How much would you like to give?</h4>
        <%= simple_form_for @donation, url: charity_payments_path(charity), html: { id: "donation-form-#{charity.id}" } do |f| %>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <%= f.input(:donation_amount, { label: false, as: :slider, min: 0, max: 100, input_html: { id: "donation-amount-#{charity.id}"}}) %>
          <%= hidden_field_tag "stripe_token", nil, id: "stipe-token-#{charity.id}" %>
          <div>
            <button class="modal-button" id="donate-button-<%= charity.id %>">Donate</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script>
   <% if user_signed_in? %>
    document.getElementById("donate-button-<%= charity.id %>").addEventListener("click", function(event) {
      StripeCheckout.configure({
        // source: "slksm;lkbms;lbkms;blks",
        key: "<%= Rails.configuration.stripe[:publishable_key] %>",
        token: function(token) {
          document.getElementById("stipe-token-<%= charity.id %>").value = token.id;
          document.getElementById("donation-form-<%= charity.id %>").submit();
        }
      }).open({
        amount: parseInt(document.getElementById("donation-amount-<%= charity.id %>").value) * 100,
        name: "Donate",
        email: "<%= current_user.email %>"
      });

      event.preventDefault();
    });
    <% end %>
  </script>
<% end %>
