<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 ">
      <% @charities.each do |charity| %>
          <div class="card" >
            <div class="card-photo">
              <%= image_tag "#{charity.logo}" %>
            </div>
            <div class="card-category">
              category
            </div>
            <div id="fav-<%= charity.id %>" class="card-favorite <%= charity.liked(current_user) ? 'liked' : ''  %>">
              <%= link_to charity_favorite_path(charity), method: :post, remote: :true do  %>
                  <%= inline_svg('empty_heart')%>
              <% end %>
            </div>
            <div class="card-title">
              <h2>
                <%= link_to charity_path(charity) do %>
                  <%= charity.name.upcase %>
                <% end %>
              </h2>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
