<div class="wrapp">
  <div class="show-container">
    <div class="img_show">
      <%= image_tag "#{@charity.logo}" %>
      <hr>
    </div>
  </div>
  <div class="body">
    <div class="show-description">
      <% @charity.categories.each do |cat|   %>
      <%= cat.name %>
      <% end %>
      <% charityc = @charity.name.split(" ") do |elem| elem.upcase end %>
      <div class="show_title">
       <p><strong><%= charityc.join(" ") %></strong></p>
      </div>
      <%= sanitize @charity.description %>
      <p> <%= @charity.business_number %></p>
    </div>
    <a href="/charities" class="back-button">Back to index</a>
  </div>
  <div class="mapshow"
  id="map"
  style="width: 95%;
  height: 400px;
  background-color: white;"
  data-markers="<%= @markers.to_json %>"
  ></div>
</div>


