<ul class="list-inline">
  <li><%= image_tag "#{@charity.logo}", size: "100x100" %></li>
  <li><%= @charity.name.downcase.capitalize %></li>
</ul>

<div>
  <p><%= @charity.city %></p>
  <p><%= @charity.province %></p>
  <%= sanitize @charity.description %>
  <p> <%= @charity.business_number %></p>
</div>
<a href="/charities" class="back-button">Back to index</a>

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
></div>


