<div class="img_show">
  <%= image_tag "#{@charity.logo}", width: "250" %>
</div>
<div class="wrapper">
  <div class="content-wrapper">
    <div class="show-category">
      <% @charity.categories.each do |cat|   %>
        <% if cat.name == "arts-culture"  %>
          <div class="tag-<%= cat.name %> tags">Arts & Culture</div>
        <% elsif cat.name == "indigenous-peoples"  %>
          <div class="tag-<%= cat.name %> tags">Indigenous Peoples</div>
        <% elsif cat.name == "social-services"  %>
          <div class="tag-<%= cat.name %> tags">Social Services</div>
        <% else %>
          <div class="tag-<%= cat.name %> tags"><%= cat.name.capitalize %></div>
        <% end %>
      <% end %>
    </div>
    <div class="show-content">
      <% charityc = @charity.name.split(" ") do |elem| elem.upcase end %>
      <h2><%= charityc.join(" ") %></h2>
      <%= sanitize @charity.description %>
    </div>
  </div>
  <div class="mapshow" id="map" data-markers="<%= @markers.to_json %>">
  </div>
</div>

<div class="show-back">
  <a href="javascript:history.back()" class="back-button"><i class="fas fa-arrow-left"></i> Back</a>
</div>


<%= stylesheet_link_tag 'show', media: 'all' %>

