
<div class="menu-signin">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true, placeholder: "Email", label: false, input_html: { id: 'email-signin' } %>
      <%= f.input :password, required: true, label: false, placeholder: "Password", input_html: { id: 'password-signin' } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable?%>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Sign in", class: "btn btn-signin" %>
    </div>
    <div class="signin-links">
    <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
