<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <% @categories.each do |category| %>
        <%= link_to user_category_path(category), method: :patch, class: 'link-text-pref', remote: :true do %>
          <div class="col-xs-6">
            <div class="focus-box preference-box <%= 'focs' if current_user.has_category_as_preference(category) %> <%= category.name %>">

              <%= image_tag category.name, size: "50x50" %>
              <p style="margin-top: 8px;"><%= category.pretty_name %></p>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="text-center">
        <a href=“javascript:history.back()“ class="btn btn-success" style="margin: 30px auto; width: 100%;">Back</a>
      </div>
    </div>
  </div>
</div>


